<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comments_list</title>
</head>
<body>
    <h1>Comments List</h1>
        <ul>
            {% for comment in comments_list %}
            <li>{{ comment }}
                <a href="{% url 'comments:get_only_comment' comment.id %}">Detalles</a>
                <a href="{% url 'comments:update_comment' comment.id %}">Actualizar</a>
                <a href="{% url 'comments:delete_comment' comment.id %}">Eliminar</a>
            </li>
            {% endfor %}
        </ul>

        <div>
            {% if comments_list.has_previous %}
                <a href="?page=1">Primera</a>
                <a href="?page={{ comments_list.previous_page_number }}">Anterior</a>
            {% endif %}

            <span>Página {{ comments_list.number }} de {{ comments_list.paginator.num_pages }}</span>

            {% if comments_list.has_next %}
                <a href="?page={{ comments_list.next_page_number }}">Siguiente</a>
                <a href="?page={{ comments_list.paginator.num_pages }}">Última</a>
            {% endif %}
        </div>
</body>
</html>