<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients List</title>
</head>
<body>
    <h1>Clients List</h1>
    <table border="1">
    <caption>Tabla de Clientes</caption>
    <thead>
        <tr>
        <th>Nombre</th>
        <th>NIT</th>
        <th>Dirección</th>
        <th>Acciones</th>
        </tr>
    </thead>
    {% for client in clients %}
    <tbody>
        <tr>
        <td>{{ client.name }}</td>
        <td>{{ client.nit }}</td>
        <td>{{ client.adress }}</td>
        <td>
            <a href="{% url 'clients:update_client' client.id %}">Actualizar</a>
            <a href="{% url 'clients:delete_client' client.id %}">Eliminar</a>
        </td>
        </tr>
    </tbody>
    {% endfor %}
    </table>

</body>
</html>