<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Product</title>
</head>
<body>
    <h1>Detalle del producto</h1>
    <table border="2">
        <th>Nombre</th>
        <th>Precio</th>
        <th>Fecha de creación</th>
        <th>Fecha de actualización</th>
        <tr>
            <td>{{ products.name }}</td>
            <td>{{ products.price }}</td>
            <td>{{ products.date_create }}</td>
            <td>{{ products.update_create }}</td>
        </tr>
    </table>
</body>
</html>